PORT = 8000
MONGODB_URL=mongodb+srv://vinay:taackzp5hy@test.qj6a8.mongodb.net/
CORS_ORIGIN  = *
ACCESS_TOKEN_SECRET = ngiosnbem
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = NGVIEJGBNAOPGJVBJN
REFRESH_TOKEN_EXPIRY = 10d
cloud_name = 'diiilxg5i'
api_key = '492751729351338'
api_secret = 'TPg4zPWr2fHNpj3OKL58rezuRSg'